.group:after {
  content: "";
  display: table;
  clear: both; }

#user_show_permissions, #user_prod_permissions {
  width: 25em; }

.loader {
  position: relative;
  top: -40px;
  margin: 0 0 0 4px; }

.menu_wf {
  margin-right: 5px; }

.wf_pagination {
  margin: 40px 0 0 20px; }

.wf_pagination li {
  float: left;
  margin: 0 10px -1px 0;
  padding: 15px;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white; }

.wf_pagination li.wf-active {
  background-color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  box-shadow: 1px -1px 2px #ddd; }

.wf_pagination li a {
  display: block;
  padding: 0 0 0 30px;
  text-decoration: none;
  font-weight: bold;
  color: #ccc;
  height: 24px;
  line-height: 24px;
  background: url(../images/wf-sprite.png) 0px 0px no-repeat; }

.wf_pagination li.wf-active a {
  color: #8a8a8a; }

.wf_pagination li#wf-pagination-twitter a {
  background-position: 0px -71px; }

.wf_pagination li#wf-pagination-facebook a {
  background-position: 0px -24px; }

.wf_pagination li#wf-pagination-instagram a {
  background-position: 0px -118px; }

.wf_pagination li#wf-pagination-help a {
  background-position: 0px -165px; }

.wf_pagination li#wf-pagination-settings a {
  background-position: 0px -212px; }

.wf_pagination li.wf-active#wf-pagination-twitter a {
  background-position: 0px -47px; }

.wf_pagination li.wf-active#wf-pagination-facebook a {
  background-position: 0px 0px; }

.wf_pagination li.wf-active#wf-pagination-instagram a {
  background-position: 0px -94px; }

.wf_pagination li.wf-active#wf-pagination-help a {
  background-position: 0px -141px; }

.wf_pagination li.wf-active#wf-pagination-settings a {
  background-position: 0px -188px; }

.wf_content {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  margin: 0;
  padding: 20px 0 40px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: linear-gradient(bottom, #e6e6e6 20%, whitesmoke 80%);
  background-image: -o-linear-gradient(bottom, #e6e6e6 20%, whitesmoke 80%);
  background-image: -moz-linear-gradient(bottom, #e6e6e6 20%, whitesmoke 80%);
  background-image: -webkit-linear-gradient(bottom, #e6e6e6 20%, whitesmoke 80%);
  background-image: -ms-linear-gradient(bottom, #e6e6e6 20%, whitesmoke 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #e6e6e6), color-stop(0.8, whitesmoke)); }

.wf_content li {
  display: none;
  padding: 0;
  margin: 0; }

.wf_content li.wf-active {
  display: block; }

.wf_content .form-table th {
  padding: 10px 10px 10px 20px; }

.wf_content textarea, .wf_content input[type="text"], .wf_content input[type="password"], .wf_content input[type="file"], .wf_content input[type="button"], .wf_content input[type="submit"], .wf_content input[type="reset"], .wf_content input[type="email"], .wf_content input[type="number"], .wf_content input[type="search"], .wf_content input[type="tel"], .wf_content input[type="url"], .wf_content select {
  border-color: #aaa; }

.weather-feed-copy {
  padding: 0 0 20px; }

#weather-feed-options-form p.submit {
  border: 1px solid #999;
  text-align: right;
  margin: 0;
  padding: 20px;
  display: block;
  background-color: #ccc;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.credits {
  margin-top: 40px;
  border-top: 1px solid #ccc; }

.credits p {
  height: 40px;
  line-height: 100%; }

.testimonial-shortcode {
  resize: none;
  width: 100%;
  border: 1px solid #999;
  margin-top: 5px;
  padding: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  background: #fff;
  height: 30px; }

#weather-feed-theme-options-icon {
  float: left;
  margin: 7px 10px 0 0; }

#weather-feed-options-container {
  background: #f5f5f5;
  margin: 20px 0;
  border-radius: 3px;
  padding: 7px 10px 20px;
  border: 1px solid #d5d5d5; }

/************************************************************************/
/* ADMIN PANEL STYLES
/************************************************************************/
.weather-feed-updated {
  background-color: #ffffe0;
  border-color: #e6db55;
  margin: 10px 15px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  padding: 0 0.6em; }
  .weather-feed-updated p {
    margin: 0.5em 0;
    padding: 2px; }

#weather-feed-options h2.nav-tab-wrapper,
#weather-feed-options h3.nav-tab-wrapper {
  margin-bottom: -1px; }
  #weather-feed-options h2.nav-tab-wrapper a,
  #weather-feed-options h3.nav-tab-wrapper a {
    background: #f5f5f5; }
    #weather-feed-options h2.nav-tab-wrapper a.nav-tab:hover, #weather-feed-options h2.nav-tab-wrapper a.nav-tab-active,
    #weather-feed-options h3.nav-tab-wrapper a.nav-tab:hover,
    #weather-feed-options h3.nav-tab-wrapper a.nav-tab-active {
      border-color: #ccc #ccc #f5f5f5; }
#weather-feed-options .weather-feed-options-section {
  border: 1px solid #ccc;
  padding: 10px 20px 0;
  margin: 0;
  border-radius: 0 0 3px 3px;
  background: #f5f5f5; }
  #weather-feed-options .weather-feed-options-section h3 small {
    font-weight: normal; }
  #weather-feed-options .weather-feed-options-section .weather-feed-admin-or {
    padding: 0 10px 5px; }
  #weather-feed-options .weather-feed-options-section span.help {
    color: #aaa; }
  #weather-feed-options .weather-feed-options-section .weather-feed-form-action {
    margin: 20px -20px 0;
    background: #d5d5d5;
    border-top: 1px solid #ccc; }
    #weather-feed-options .weather-feed-options-section .weather-feed-form-action p {
      text-align: right;
      padding: 10px;
      margin: 0; }

/************************************************************************/
/* ADMIN UI STYLES
/************************************************************************/
#homepage-secondary-sections,
#ticket-locations,
#parking-locations {
  margin: 0;
  display: inline-block;
  min-width: 100%;
  padding: 0px; }
  #homepage-secondary-sections li,
  #ticket-locations li,
  #parking-locations li {
    margin: 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    width: 25%;
    float: left;
    min-height: 120px;
    box-sizing: border-box;
    padding: 10px;
    background: #f0f0f0; }
    #homepage-secondary-sections li:nth-child(odd),
    #ticket-locations li:nth-child(odd),
    #parking-locations li:nth-child(odd) {
      background: #fcfcfc; }
    #homepage-secondary-sections li.homepage-secondary-section,
    #ticket-locations li.homepage-secondary-section,
    #parking-locations li.homepage-secondary-section {
      position: relative;
      height: 100%;
      display: block; }
      @media (max-width: 1400px) {
        #homepage-secondary-sections li.homepage-secondary-section,
        #ticket-locations li.homepage-secondary-section,
        #parking-locations li.homepage-secondary-section {
          min-height: 160px; } }
      @media (max-width: 1200px) {
        #homepage-secondary-sections li.homepage-secondary-section,
        #ticket-locations li.homepage-secondary-section,
        #parking-locations li.homepage-secondary-section {
          min-height: 200px; } }
      @media (max-width: 900px) {
        #homepage-secondary-sections li.homepage-secondary-section,
        #ticket-locations li.homepage-secondary-section,
        #parking-locations li.homepage-secondary-section {
          min-height: 240px; } }
      #homepage-secondary-sections li.homepage-secondary-section .homepage_secondary_section_delete,
      #ticket-locations li.homepage-secondary-section .homepage_secondary_section_delete,
      #parking-locations li.homepage-secondary-section .homepage_secondary_section_delete {
        height: auto;
        min-height: auto;
        position: absolute;
        background: #ddd;
        border-radius: 3px;
        padding: 0 3px;
        bottom: 10px;
        right: 10px;
        font-size: 1em; }
        #homepage-secondary-sections li.homepage-secondary-section .homepage_secondary_section_delete label,
        #ticket-locations li.homepage-secondary-section .homepage_secondary_section_delete label,
        #parking-locations li.homepage-secondary-section .homepage_secondary_section_delete label {
          height: auto;
          min-height: inherit; }
      #homepage-secondary-sections li.homepage-secondary-section select,
      #homepage-secondary-sections li.homepage-secondary-section .weather-feed-file-uploader,
      #ticket-locations li.homepage-secondary-section select,
      #ticket-locations li.homepage-secondary-section .weather-feed-file-uploader,
      #parking-locations li.homepage-secondary-section select,
      #parking-locations li.homepage-secondary-section .weather-feed-file-uploader {
        margin: 10px 0; }
      #homepage-secondary-sections li.homepage-secondary-section .weather-feed-file-uploader input[type="text"],
      #ticket-locations li.homepage-secondary-section .weather-feed-file-uploader input[type="text"],
      #parking-locations li.homepage-secondary-section .weather-feed-file-uploader input[type="text"] {
        max-width: 100%; }
      #homepage-secondary-sections li.homepage-secondary-section select,
      #ticket-locations li.homepage-secondary-section select,
      #parking-locations li.homepage-secondary-section select {
        max-width: 100%; }
    #homepage-secondary-sections li label,
    #ticket-locations li label,
    #parking-locations li label {
      position: relative;
      height: 100%;
      display: block; }
      @media (max-width: 1400px) {
        #homepage-secondary-sections li label,
        #ticket-locations li label,
        #parking-locations li label {
          min-height: 160px; } }
      @media (max-width: 1200px) {
        #homepage-secondary-sections li label,
        #ticket-locations li label,
        #parking-locations li label {
          min-height: 200px; } }
      @media (max-width: 900px) {
        #homepage-secondary-sections li label,
        #ticket-locations li label,
        #parking-locations li label {
          min-height: 240px; } }
      #homepage-secondary-sections li label .ticket-locations-delete,
      #homepage-secondary-sections li label .parking-locations-delete,
      #ticket-locations li label .ticket-locations-delete,
      #ticket-locations li label .parking-locations-delete,
      #parking-locations li label .ticket-locations-delete,
      #parking-locations li label .parking-locations-delete {
        position: absolute;
        background: #ddd;
        border-radius: 3px;
        padding: 0 3px;
        bottom: 0px;
        right: 0px;
        font-size: 1em; }
