/************************************************************************/
/* GLOBAL STYLES
/************************************************************************/
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/************************************************************************/
/* WEATHER STYLES
/************************************************************************/
.weather-feed {
  margin: 20px 0;
  width: 100%;
  overflow: hidden; }
  .weather-feed .weather-feed-inner {
    float: left;
    padding: 5px 10px;
    border-radius: 3px;
    background: #f5f5f5;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ccc #bbb; }
    .weather-feed .weather-feed-inner .weather-feed-temp {
      float: left;
      font-family: Futura, "Trebuchet MS", Arial, sans-serif;
      font-size: 4em;
      font-weight: bold;
      font-style: italic;
      line-height: 1;
      display: block;
      letter-spacing: -5px; }
      .weather-feed .weather-feed-inner .weather-feed-temp img {
        float: none;
        height: auto;
        width: 36px;
        vertical-align: top;
        position: relative;
        top: 8px;
        margin: 0 0 0 8px; }
    .weather-feed .weather-feed-inner img {
      float: left;
      height: auto;
      width: 46px;
      margin: 0 0 0 10px;
      position: relative;
      top: 8px; }
