@import 'icons';

/************************************************************************/
/* GLOBAL STYLES
/************************************************************************/

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/************************************************************************/
/* WEATHER STYLES
/************************************************************************/

.weather-feed {

	margin:20px 0;
	width:100%;
	overflow:hidden;

	.weather-feed-inner {
	
		float:left;
		padding:5px 10px;
		border-radius:3px;
		background:#f5f5f5;
		border-width: 1px;
		border-style: solid;
		border-color: #ddd #ccc #bbb;
		
		.weather-feed-temp {

			float:left;
			font-family: Futura, "Trebuchet MS", Arial, sans-serif;
			font-size: 4em;
			font-weight: normal;
			font-style: italic;
			line-height:1;
			display:block;
			letter-spacing:-5px;

			.weather-feed-temp-degree {
			
			}

			i {
				display:inline-block;
				line-height:1;
				font-size:32px;
				vertical-align: top;
				margin: 6px 20px 0 5px;
			}

		}

		i {
			display:inline-block;
			line-height:1;
			font-size:58px;
			margin-top:3px;
		}

	}

}