@import 'icons';

/************************************************************************/
/* GLOBAL STYLES
/************************************************************************/

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/************************************************************************/
/* WEATHER STYLES
/************************************************************************/

.weather-feed {

	margin:20px 0;
	width:100%;
	overflow:hidden;

	.weather-feed-inner {
	
		display: block;
		padding:5px 10px;
		background:#dfdfdf;
		border-width: 0 0 4px;
		border-style: solid;
		border-color: #333;
		width:160px;
		position: relative;

		.wf-summary {
			display: block;
			text-align: center;
			text-transform: uppercase;
			font-family: Futura, "Trebuchet MS", Arial, sans-serif;
			font-size: 0.85em;
			margin:5px 0 0;
		}
		
		.weather-feed-temp {

			display: block;
			text-align: center;
			font-family: Futura, "Trebuchet MS", Arial, sans-serif;
			font-size: 0.6em;
			font-weight: normal;
			line-height:1;
			letter-spacing:1px;
			text-transform: uppercase;
			margin:5px 0 5px;

			i {
				display:inline-block;
				line-height:1;
				font-size:1em;
				vertical-align: top;
				margin: -1px 0 0 5px;

			}

		}

		.wf-icon {

			i {
				display:block;
				line-height:1;
				font-size:100px;
				margin-top:5px;
				text-align: center;
				color: #333;
			}

		}

	}

}